@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

:root {
	--font-body: "Poppins", sans-serif;
	--red: #ff3d3d;
	--red-dark: #ff1010;
	--red-light: #ff5252;
	--orange: #ff943d;
	--orange-dark: #ff841f;
	--orange-light: #ffa459;
	--yellow: #fff93d;
	--yellow-dark: #eee714;
	--yellow-light: #fffa74;
	--green: #6dff3d;
	--green-dark: #54ff1b;
	--green-light: #8cff66;
	--green-blue: #3dffbb;
	--green-blue-dark: #17eea3;
	--green-blue-light: #61ffc8;
	--blue-0: #61e2ff;
	--blue-1: #3ddbff;
	--blue-2: #1dd6ff;
	--blue-3: #61a8ff;
	--blue-4: #499bff;
	--blue-5: #1780ff;
	--blue-6: #5369fa;
	--blue-7: #3d57ff;
	--blue-8: #1f3dff;
	--purple: #9f39ff;
	--purple-dark: #9523ff;
	--purple-light: #a953fa;
	--pink: #ff4de7;
	--pink-dark: #f02cd6;
	--pink-light: #ff69eb;
	--grey-0: #efefef;
	--grey-1: #dee2e6;
	--grey-2: #b5c0ce;
	--grey-3: #6f7b84;
	--grey-4: #495056;
	--grey-5: #2d3036;
	--grey-6: #14191b;
	--grey-7: #0f1111;
	--green-0: #10ed10;
	--green-1: #00c400;
	--green-2: #0b9e0b;

	--primary: var(--red-light);
	--secondary: var(--orange);
	--nav-height: 4em;

	--hamburger-span-width: 2.475em;
	--hamburger-span-height: .3em;
	--hamburger-span-gap: .375em;

	--primary-gradient: linear-gradient(
		-90deg,
		var(--yellow),
		var(--yellow-dark),
		var(--orange-light),
		var(--orange),
		var(--orange-dark),
		var(--red-light),
		var(--red)
	);
}

* {
	text-decoration: none;
	scroll-behavior: smooth;
	transition: .3s;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--h-colour);
}

hr {
	border: none;
	border-bottom: var(--hr-border);
}

body {
	font-family: var(--font-body);
	background-color: var(--bg-colour);
	color: var(--text-colour);
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: var(--text-colour);
	text-decoration: underline;
}

.page {
	padding-top: var(--nav-height);
}

.dark-theme {
	--bg-colour: var(--grey-6);
	--nav-colour: var(--grey-5);
	--text-colour: var(--grey-2);
	--h-colour: var(--grey-0);
	--hr-border: 3px dashed var(--nav-colour);
}

nav {
	background-color: var(--nav-colour);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	height: var(--nav-height);
}

nav a {
	color: var(--h-colour);
	font-weight: bold;
	text-transform: uppercase;
}

nav ul {
	margin: 0 16px;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: var(--nav-height);
}

nav ul li {
	list-style: none;
	display: none;
	margin: 1rem 0;
}

nav ul li:first-child {
	margin: 0;
	margin-right: auto;
	display: block;
}

.hamburger {
	display: block;
	position: absolute;
	z-index: 1;
	user-select: none;
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	right: 0;
	margin: 1.5em 1em;
}

.hamburger span {
	display: block;
	width: var(--hamburger-span-width);
	height: var(--hamburger-span-height);
	margin-bottom: var(--hamburger-span-gap);
	position: relative;

	background-color: var(--text-colour);
	border-radius: 6px;
	z-index: 1;

	transform-origin: 0 0;

	transition: 350ms;
}

.hamburger.is-active span:nth-child(1) {
	transform: translate(3px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
	opacity: 0;
	transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
	transform: translate(0px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
	background-color: var(--primary);
}

nav.hamburger-is-active {
	height: 100vh;
}

nav.hamburger-is-active ul li {
	display: block;
}

@media (min-width: 768px) {
	.hamburger {
		display: none;
	}

	nav ul {
		flex-direction: row;
		margin-right: 16px;
	}

	nav ul li {
		display: block;
		margin: 0 1rem;
	}
}

.fancy-link-underline {
	text-decoration: none;
	background-image: var(--primary-gradient);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom -1px;
	transition: background-size 300ms ease;
}

.fancy-link-underline:hover,
.fancy-link-underline:focus {
	background-size: 100% 3px;
}

.primary-gradient-text {
	background-image: var(--primary-gradient);
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.bg-left-right-animation {
	background-size: 300%;
	animation: bg-left-right-animation 5s infinite alternate;
}

@keyframes bg-left-right-animation {
	0% {
		background-position: left;
	}
	100% {
		background-position: right;
	}
}

/* Footer */

footer {
	margin-top: 1vh;
	display: flex;
	right: 0;
	left: 0;
	position: absolute;
	justify-content: space-evenly;
}

footer a {
  width: 12%;
  height: 12%;
  opacity: 0.5;
  transition: opacity 0.375s;
	margin-top: 1%;
}

footer img {
	width: 100%;
	height: 100%
}

footer a:hover {
  opacity: 0.90;
}

footer .column {
  margin-top: 0.5vh;
}

footer p {
  max-width: 18vw;
  line-height: 1em;
  font-size: 0.85em;
  margin: 1vw auto;
	text-align: justify;
}

.footer-icons {
	right: 0;
	bottom: 0;
	margin: 7px;
	position: absolute;
}

.footer-icons i {
	color: var(--grey-0);
}

@media (max-width: 600px) {
	footer {
		display: block;
	}

	footer h2 {
		text-align: center;
	}

	footer p {
		text-align: center;
		max-width: 38vw;
	}
}

@media (max-width: 1000px) {
	footer a {
		display: none;
	}
	.footer-icons {
		display: none;
	}
}

/* Scroll bar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--grey-3);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--grey-4);
	border-radius: 10px;
}

.no-deco-link {
	text-decoration: none;
}

/* News */

.news-main {
	justify-content: space-evenly;
	display: flex;
}

.news-box {
	background-color: var(--grey-5);
	border-radius: 0.5rem;
	margin: 30px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	transition: .5s;
}

.news-box:hover {
	transform: scale(102%);
	box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 12px 26px 0 rgba(0, 0, 0, 0.19);
}

.news-box img {
	max-width: 100%;
}

.news-box p {
	max-width: 100%;
	margin: 25px;
	text-align: justify;
}

.news-button {
	cursor: pointer;
	display: block;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0 0 0 2px var(--grey-0);
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.125em;
	line-height: 3.125em;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	box-shadow: 0 0 0 2px var(--orange);
	background-color: inherit;
	transition: .3s;
}

.news-button a {
	text-decoration: none;
}

.news-button:hover {
	transform: scale(105%);
	transform: translate(0 10px 10px);
	border-radius: 10px;
	letter-spacing: 0.155em;
	box-shadow: none;
	/*box-shadow: 0 0 10px var(--blue-5), 0 0 20px var(--blue-5), 0 0 40px var(--blue-5); */
	background-color: var(--orange-light);
	box-shadow: none;
}

.news-button:active {
	transform: scale(103%);
	background-color: var(--orange-dark);
	/*box-shadow: 0 0 10px var(--blue-7), 0 0 20px var(--blue-7), 0 0 40px var(--blue-7); */
	box-shadow: none;
}

@media (max-width: 1300px) {
	.news-main {
		display: grid;
	}
	.news-invis-div {
		display: none;
	}
}

/* 40X Error */

.xxx-body {
	margin: 0;
	margin-right: 30%;
	margin-left: 30%;
}

.xxx-error {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 100vh;
	width: 100vh;
}

.xxx-error-text {
	margin: 0;
	font-size: 15vh;
	border-bottom: var(--grey-1) 5px solid;
}

.xxx-error-sub-text {
	margin-top: 15px;
	font-size: 5vh;
	text-align: justify;
}

.xxx-error-button {
	margin-top: 10px;
	font-size: 2vh;
	text-align: justify;
}

@media (max-width: 530px) {
	.xxx-body {
		margin-right: 20%;
		margin-left: 20%;
	}
}

@media (max-width: 355px) {
	.xxx-body {
		margin-right: 10%;
		margin-left: 10%;
	}
}

/* Blog */

.pagination {
	text-align: center;
}

.pagination-list {
	display: inline-flex;
	list-style: none;
	padding: 0;
}

.pagination-list a {
  color: var(--grey-1);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
	margin: 5px;
}

.active-page {
	background-color: var(--blue-6);
	border-radius: 0.5rem;
	transition: .3s;
}

.active-page:hover {
	background-color: var(--blue-5);
}

.active-page:active {
	background-color: var(--blue-7);
}

.non-active-page {
	transition: .3s;
	border-radius: 0.5rem;
}

.non-active-page:hover {
	background-color: var(--grey-4);
}

.non-active-page:active {
	background-color: var(--grey-5);
}

@media (max-width: 387px) {
	ul li:nth-child(6) {
		display: none;
	}
}

@media (max-width: 334px) {
	ul li:nth-child(5) {
		display: none;
	}
}

@media (max-width: 282px) {
	ul li:nth-child(4) {
		display: none;
	}
}

@media (max-width: 231px) {
	ul li:nth-child(3) {
		display: none;
	}
	ul li:nth-child(2) {
		display: none;
	}
}

/* Login */


.login-box {
	background-color: var(--grey-5);
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-box h1 {
  text-align: center;
  padding: 20px 0;
	transition: .3s;
}

.login-box form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field {
  position: relative;
  border-bottom: 2px solid var(--grey-2);
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
	color: var(--h-colour);
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
  top: -5px;
  color: var(--blue-4);
}
.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
  width: 100%;
}

.txt-field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: var(--grey-2);
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.login-button {
	cursor: pointer;
	display: block;
	border: 0;
	border-radius: 3px;
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.125em;
	line-height: 3.125em;
	text-align: center;
	width: 230pt;
	margin-bottom: 10%;
	box-shadow: 0 0 0 2px var(--blue-6);
	background-color: inherit;
	transition: .3s;
	color: var(--h-colour);
}

.login-button:hover {
	transform: scale(105%);
	transform: translate(0 10px 10px);
	border-radius: 10px;
	letter-spacing: 0.155em;
	box-shadow: none;
	/*box-shadow: 0 0 10px var(--blue-5), 0 0 20px var(--blue-5), 0 0 40px var(--blue-5); */
	background-color: var(--blue-5);
	box-shadow: none;
}

.login-button:active {
	transform: scale(103%);
	background-color: var(--blue-7);
	/*box-shadow: 0 0 10px var(--blue-7), 0 0 20px var(--blue-7), 0 0 40px var(--blue-7); */
	box-shadow: none;
}

.login-icon {
	position: absolute;
	margin-left: -25px;
	margin-top: 11.5px;
	transition: .3s;
}

@media (max-width: 420px) {
	.login-button {
		width: 120pt;
	}
	.login-box h1 {
		font-size: 20px;
	}
}

@media (max-width: 265px) {
	.login-button {
		width: 75pt;
	}
	.login-box h1 {
		font-size: 15px;
	}
}

/* Kontakt */

.kontakt {
	background-image: url("http://hany.info/data/galerie/ceska-republika-sumava-schwarzenbersky-plavebni-kanal-nova-pec-glockenberg-zvonkova/full/20-ceska-republika-sumava-schwarzenbersky-plavebni-kanal-nova-pec-glockenberg-zvonkova.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.kontakt-main {
	background-color: var(--grey-5);
	border-radius: 0.5rem;
	margin: 30px;
	margin-left: 15%;
	margin-right: 15%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	transition: .5s;
	display: -webkit-box;
}

.kontakt-main h1 {
	margin: 0;
}

.kontakt-footer {
	bottom: 0;
}

.kontakt-map {
	font-size: 15px;
	margin: 25px;
	margin-right: 35px;
	width: 399px;
	overflow: hidden;
	border-radius: .5rem;
	text-align: center;
}

.kontakt-mapa {
	height: 399px;
	width: 399px;
	overflow: hidden;
	border-radius: .5rem;
}

.kontakt-adress {
	font-size: 15px;
	margin: 25px;
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
  display: inline-block;
}

.kontakt-media {
	position: absolute;
  text-align: center;
  margin-left: 4vh;
}

.kontakt-media ul {
	display: inline-flex;
	list-style: none;
	padding: 0;
}

.kontakt-media ul li {
	margin: 10px;
}

.kontakt-media ul li i {
	font-size: 30px;
	color: var(--h-colour);
}

.kontakt-media ul li i:hover {
	transform: scale(140%);
}

.fa-facebook:hover {
	color: var(--blue-5);
}

.fa-twitter:hover {
	color: var(--blue-4);
}

@media (max-width: 1505px) {
	.kontakt {
		background-size: auto;
		background-position: revert;
	}
}

@media (max-width: 1450px) {
	.kontakt-main {
		display: grid;
	}

	.kontakt-footer {
		bottom: auto;
	}

	.kontakt-media {
		font-size: 15px;
		margin: 25px;
		margin-left: 35px;
		margin-right: 35px;
		text-align: center;
	  display: inline-block;
		position: inherit;
	}
}

@media (max-width: 645px) {
	.google-map {
		width: 200px;
		height: 200px;
	}

	.kontakt-map {
		margin: 15px;
		width: 199px;
		margin-left: 100px;
		margin-right: 100px;
		display: flex;
    flex-direction: column;
    align-items: flex-start;
	}

	.kontakt-mapa {
		height: 199px;
		width: 199px;
	}

	.kontakt-main {
		margin: 15px;
	}
}

@media (max-width: 278px) {
	.google-map {
		width: 150px;
		height: 150px;
	}

	.kontakt-map {
		width: 149px;
	}

	.kontakt-mapa {
		height: 149px;
		width: 149px;
	}

	.kontakt-main {
		margin: 5px;
	}
}

@media (max-width: 185px) {
	.kontakt-map {
		display: none;
	}
}

/* Main Page */

.da-main-page {
	background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/hHeEEOX/beautiful-nature-norway-natural-landscape-lovatnet-lake_sxhjekkze_thumbnail-1080_01.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 93vh;
	width: 100%;
	margin: 0;
	text-align: center;
}

.fa-chevron-down {
	font-size: 50px;
	text-shadow: 0 0 4px #000000;
	color: var(--h-colour);
	position: absolute;
  bottom: 0;
  left: 40%;
  right: 40%;
}

.fa-chevron-down:hover {
	transform: translateY(-10px);
}

/* Util */

::selection {
	background: var(--grey-3);
}

.center-text {
	text-align: center;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.normal-button-center {
	cursor: pointer;
	display: block;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 0 0 0 2px var(--grey-0);
	font-size: 0.8em;
	font-weight: 600;
	letter-spacing: 0.125em;
	line-height: 3.125em;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%;
	box-shadow: 0 0 0 2px var(--grey-5);
	background-color: inherit;
	transition: .3s;
}

.normal-button-center:hover {
	transform: scale(105%);
	transform: translate(0 10px 10px);
	border-radius: 10px;
	letter-spacing: 0.155em;
	box-shadow: none;
	/*box-shadow: 0 0 10px var(--grey-4), 0 0 20px var(--grey-4), 0 0 40px var(--grey-4); */
	background-color: var(--grey-4);
	box-shadow: none;
}

.normal-button-center:active {
	transform: scale(103%);
	background-color: var(--grey-5);
	box-shadow: none;
	/*box-shadow: 0 0 10px var(--grey-5), 0 0 20px var(--grey-5), 0 0 40px var(--grey-5); */
}

.no-margin {
	margin: 0
}

.place-items-center {
	display: flex;
	justify-content: center;
}

.btn {
    margin: 10px 5px;
    padding: 10px;
    border-radius: .25rem;
    text-decoration: none;
}

.addBotBtn {
    background-color: rgb(114, 137, 218);
    color: white;
}

.addBotBtn:hover {
    transition: .25s;;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(114, 137, 218, 0.8)
}

.patreonBtn {
	background-color: rgb(255, 66, 77);
	color: white;
}

.patreonBtn:hover {
    transition: .25s;;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 66, 77, 0.8)
}