/*@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@300,400&display=swap);*/
@import url(https://fonts.googleapis.com/css?family=Archivo%20Black&display=swap);
@import url(https://fonts.googleapis.com/css?family=Days%20One&display=swap);
@import url(https://fonts.googleapis.com/css?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

*,:after,:before {
    margin:0;
    box-sizing: border-box
}

body,html {
    height:100vh
}

body {
    font-family:"Open Sans",sans-serif;
    font-size:1rem;font-weight:300;
    color:#d4d4d4;
    background-color:#111;
}

footer {
    padding-top: 85vh;
    text-align: center;
}

.centerX {
    text-align: center;
}

.centerY {
    vertical-align: middle;
}

.page {
    padding-top: 5%;
}

.home {
    background: #111;
    color: #fff;
}

.fullScreen {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.fullHeight {
    height: 89vh;
}

.topNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    padding: 5px;
    background: #000;
    color: #fff;
    height: 10%;
    width: 100%;
}

.noTextDeco {
    text-decoration: none;
}

.inheritTextDeco {
    text-decoration: inherit;
}

.whiteText {
    color:white
}

.navLink {
    color: #ddd;
    margin: .5rem;
}

.navLink:hover {
    text-decoration: underline;
}

.navRight {
    margin-left: auto;
    margin-right: 5px;
    color: #ddd;
}
.navRightDark {
    margin-left: auto;
    margin-right: 15px;
    color: #ddd;
}
.navRightLight {
    margin-left: auto;
    margin-right: 15px;
    color: #222;
}

.iconLink {
    font-size: 2rem;
}

.place-items-center {
    place-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex {
    display: flex;
}

.btn {
    margin: 10px 5px;
    padding: 10px;
    border-radius: .25rem;
    text-decoration: none;
}

.addBotBtn {
    background-color: rgb(114, 137, 218);
    color: white;
}

.addBotBtn:hover {
    transition: .25s;
    background-color:rgba(114, 137, 218, 0.8);
    color: rgba(255, 255, 255, 0.8)
}

.joinServerBtn {
    background-color: rgb(114, 137, 218);
    color: white;
}

.joinServerBtn:hover {
    transition: .25s;
    background-color:rgba(114, 137, 218, 0.8);
    color: rgba(255, 255, 255, 0.8)
}

.githubBtn {
    background-color:rgba(39, 49, 64);
    color: white;
}

.githubBtn:hover {
    transition: .25s;
    background-color:rgba(39, 49, 64, 0.8);
    color: rgba(255, 255, 255, 0.8)
}

.pandiconTextMain {
    font-family:"Days One";
    font-size: 5rem;
}

.pandiconTextHeader {
    font-family:"Days One";
    font-size: 1.3rem;
}

.pandiText {
    color: rgb(215, 76, 71)
}

.conText {
    color: rgb(255, 255, 255)
}

.column25 {
    width: 25%;
    float: left;
    padding: 10px 25px;
    text-align: justify;
}

.column75 {
    width: 75%;
    float: left;
    padding: 10px 20px;
    text-align: justify;
}

.rightRedBorder {
    border-right: 3px solid rgb(215, 76, 71);
}

.downWhiteBorder {
    border-bottom: 1px solid #ccc;
}

.padding10Top {
    padding-top: 10px
}

.padding5Top {
    padding-top: 5px
}

.padding5Bottom {
    padding-bottom: 5px;
}

.commandsText {
    font-family: 'Montserrat';
}

.fontSize-17 {
    font-size: 1.7rem;
}

.text-link {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.text-link:hover {
    text-decoration: underline;
}